@charset "UTF-8";

/* 
<link href="${path}/resources/css/reviewDetail.css" rel="stylesheet">
 */


/* Wrap */
.revContainer {
	display	: flex;
}

/* revContainer1 : 이미지가 담기는 컨테이너, 이미지는 비율 맞춰서 넣자.. */
.revContainer1{
	width: 500px;
	height: 400px;
	background-color : pink;
	justify-content: left;
	margin : 10px;
	overflow : auto;
}

.reviewImg {
}


/* revContainer2 : 내용, 평점, 날짜, 상세주소, 좋아요/댓글/즐찾  */
.revContainer2{
	margin-left : 5px;
	width:350px;
	text-align: left;	
}

#revContent{
	margin-top : 10px;
	padding : 10px;
	height : 200px;
	background-color : aliceblue;
}

/* Rating : 평점 (구름)*/
#revRating{
	display : flex;
	justify-content: left;
	margin-top : 10px;
}

.revRatingImg{
	height: 25px;
	width: 25px;
	display: inline-block;
	margin : 3px;
}


/* 상세주소, 작성날짜 */
#revAddress{
	/* font-size : 15px; */
	margin-top : 10px;
}

#revDate{
	/* font-size : 15px; */
	margin-top : 5px;
}

/* 좋아요, 댓글, 즐찾 */
.revContainer2_1{
	padding-right : 10px;
	margin-top : 60px;
	display : flex;
	justify-content: space-between;
}

.likeAnchor{
	color : black;
	text-decoration: none;
}

.likeAnchor:hover{
	color : skyblue;
	text-decoration: none;
	font-weight : bold;
}

.revLikeImg{
	height: 25px;
	width: 25px;
	display: inline-block;
	margin : 2px;
}

.revCommentImg{
	height: 25px;
	width: 25px;
	display: inline-block;
	margin : 2px;
}

.revBookMarkImg{
	height: 30px;
	width: 30px;
	margin-bottom: 5px;
}