@charset "UTF-8";

/* 
<link href="${path}/resources/css/reviewDetail.css" rel="stylesheet">
 */


/* Wrap */
.revContainer {
	display	: flex;
}

/* revContainer1 : 이미지가 담기는 컨테이너, 이미지는 비율 맞춰서 넣자.. */
.revContainer1{
	width: 300px;
	height: 250px;
	background-color : pink;
	justify-content: left;
}

.reviewImg {
	width: 300px;
	height: 250px;
}

.revBox1_1{
	text-align: left;	
}

.revNickName{
	font-size : 22px;
}

.revAddress{
	font-size : 15px;
}


/* revBox2 : Rating, revBox2_1*/
.revBox2{
	margin-left: 65px;
}


/* Rating : 평점 (구름)*/
.revRating{
	display : flex;
	justify-content: left;
}

.revRatingImg{
	height: 20px;
	width: 20px;
	display: inline-block;
	margin : 3px;
}


/* revBox2_1 : 댓글, 좋아요, 즐겨찾기 */
.revBox2_1{
	display : flex;
	justify-content: space-between;
}

.revBox2_2{
	text-align :left;
	font-size : 15px;
}

.revIsBookMark{
	font-size : 30px;
	color : orange;
	margin-right : 8px;
}

.revBookMarkImg{
	height: 40px;
	width: 40px;
/* 	display: inline-block; */
}