<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.gudi.map.dao.MapDAO">	

	<select id="getReviewCnt" parameterType="String" resultType="int">
		SELECT COUNT(reviewId) FROM reviewMK WHERE areaId=(SELECT areaId FROM area WHERE areaName=#{areaName})
	</select>
	
	<select id="getAreaRating" parameterType="String" resultType="int">
		SELECT areaRating FROM area WHERE areaName = #{areaName}
	</select>
	
	<select id="getReviewList" resultType="com.gudi.map.dto.MapDTO">
		<if test='param2.equals("reviewDate")'>
		SELECT r.reviewId, r.nickName, r.address, r.rating, TO_CHAR(r.reviewDate, 'YYYY-MM-DD') reviewDate, r.lat, r.lon,
		(SELECT newFileName FROM image WHERE imgField='review' AND postId=r.reviewId) newFileName,
		(SELECT COUNT(cmtId) FROM comments WHERE cmtField='review' AND postId=r.reviewId AND isDel='N') commentCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId) likeCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId AND userId=#{param3}) isLike,
		(SELECT COUNT(*) FROM bookmark WHERE reviewId=r.reviewId AND userId=#{param3}) isBookMark
		FROM
		(SELECT reviewId, nickName, address, rating, reviewDate, lat, lon FROM reviewMK WHERE areaId=(SELECT areaId FROM area WHERE areaName=#{param1}) AND isdel='N') r
		ORDER BY reviewDate DESC
		</if>
		
		<if test='param2.equals("likeCnt")'>
		SELECT * FROM(
		SELECT r.reviewId, r.nickName, r.address, r.rating, TO_CHAR(r.reviewDate, 'YYYY-MM-DD') reviewDate, r.lat, r.lon,
		(SELECT newFileName FROM image WHERE imgField='review' AND postId=r.reviewId) newFileName,
		(SELECT COUNT(cmtId) FROM comments WHERE cmtField='review' AND postId=r.reviewId AND isDel='N') commentCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId) likeCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId AND userId=#{param3}) isLike,
		(SELECT COUNT(*) FROM bookmark WHERE reviewId=r.reviewId AND userId=#{param3}) isBookMark
		FROM
		(SELECT reviewId, nickName, address, rating, reviewDate, lat, lon FROM reviewMK WHERE areaId=(SELECT areaId FROM area WHERE areaName=#{param1}) AND isdel='N') r)
		ORDER BY likeCnt DESC, reviewDate DESC
		</if>
	</select>
	
	<insert id="rmFileUpload" parameterType="String">
		INSERT INTO image(imgId, oriFileName, newFileName, imgField, imgPath) 
		VALUES(image_SEQ.NEXTVAL, #{param1}, #{param2}, 'review', 'C:/upload')
	</insert>
	
	<insert id="rmWrite" parameterType="com.gudi.map.dto.MapDTO">
		INSERT INTO reviewmk(reviewid, rating, reviewcontent, address, lat, lon, userid, areaid, nickname) 
		VALUES(reviewmk_SEQ.NEXTVAL, #{rating}, #{reviewContent}, #{address}, #{lat}, #{lon}, 'test', '1', '테스트')
	</insert>
	
</mapper>