<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.gudi.map.dao.MapDAO">	

	<select id="getReviewCnt" parameterType="String" resultType="int">
		SELECT COUNT(reviewId) FROM reviewMK WHERE areaId=(SELECT areaId FROM area WHERE areaName=#{areaName})
	</select>
	
	<select id="getAreaRating" parameterType="String" resultType="int">
		SELECT areaRating FROM area WHERE areaName = #{areaName}
	</select>
	
	<select id="getReviewList" resultType="com.gudi.map.dto.MapDTO">
		<if test='param2.equals("reviewDate")'>
		SELECT r.reviewId, r.nickName, r.address, r.rating,
		(SELECT newFileName FROM image WHERE imgField='review' AND postId=r.reviewId) newFileName,
		(SELECT COUNT(cmtId) FROM comments WHERE cmtField='review' AND postId=r.reviewId AND isDel='N') commentCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId) likeCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId AND userId=#{param3}) isLike,
		(SELECT COUNT(*) FROM bookmark WHERE reviewId=r.reviewId AND userId=#{param3}) isBookMark
		FROM
		(SELECT reviewId, nickName, address, rating, reviewDate FROM reviewMK WHERE areaId=(SELECT areaId FROM area WHERE areaName=#{param1})) r
		ORDER BY reviewDate DESC
		</if>
		
		<if test='param2.equals("like")'>
		SELECT * FROM(
		SELECT r.reviewId, r.nickName, r.address, r.rating, r.reviewDate,
		(SELECT newFileName FROM image WHERE imgField='review' AND postId=r.reviewId) newFileName,
		(SELECT COUNT(cmtId) FROM comments WHERE cmtField='review' AND postId=r.reviewId AND isDel='N') commentCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId) likeCnt,
		(SELECT COUNT(*) FROM likes WHERE reviewId=r.reviewId AND userId=#{param3}) isLike,
		(SELECT COUNT(*) FROM bookmark WHERE reviewId=r.reviewId AND userId=#{param3}) isBookMark
		FROM
		(SELECT reviewId, nickName, address, rating, reviewDate FROM reviewMK WHERE areaId=(SELECT areaId FROM area WHERE areaName=#{param1})) r)
		ORDER BY likeCnt DESC, reviewDate DESC
		</if>
	</select>
	
</mapper>