<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.gudi.member.dao.MemberDAO">

	<insert id="join" parameterType="member">
		INSERT INTO
		members(userId,pw,nickName,chkAlert) VALUES
		(#{userId},#{pw},#{nickName},#{chkAlert})
	</insert>

	<select id="idCheck" parameterType="member" resultType="int">
		SELECT
		COUNT(*) FROM members
		WHERE userId = #{userId}
	</select>

	<select id="nickCheck" parameterType="member" resultType="int">
		SELECT
		COUNT(*) FROM members
		WHERE nickName = #{nickName}
	</select>

	<select id="login" parameterType="String"
		resultType="java.util.HashMap">
		SELECT pw, nickName, chkalert FROM members WHERE userId = #{userId}
	</select>

	<!--수빈 내정보 -->
	<select id="memberInfo"
		resultType="com.gudi.member.dto.MemberDTO">
		SELECT * FROM members WHERE userId = #{userId}
	</select>

	<!--수빈 회원탈퇴 -->
	<update id="memberDel" parameterType="String">
		UPDATE members SET isDel = 'Y' WHERE userId = #{userId}
	</update>

	<!--수빈 내정보 업데이트-->
	<update id="update" parameterType="hashmap">
		UPDATE members SET
		nickName = #{nickName},
			chkAlert = #{chkAlert} WHERE userId= #{userId}
	</update>

   <select id = "getMyPassword" parameterType="String" resultType="board">
   select userId, pw from members where userId=userId; AND isDEL='N'
   </select>


</mapper>


















