<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 에 대한 선언 문 -->
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- XML 이 어떤interface 와 연결이 되는가? -->
<mapper namespace="com.gudi.board.dao.BoardDAO">	
	
	<insert id="fbwrite"
		useGeneratedKeys="true"
		keyColumn="postId"
		keyProperty="postId"
		parameterType="board">
		INSERT INTO post(postId,title,postContent,postField,userId) 
		VALUES(post_seq.NEXTVAL,#{title},#{postContent},'post','test')
	</insert>

	<insert id="fbfileWrite">
		INSERT INTO image(imgId, oriFileName, newFileName, postId,imgField,imgPath)
			VALUES(image_seq.NEXTVAL, #{param1},#{param2},#{param3},'post','C:/upload')
	</insert>
	
	
	<select id="fbdetail" parameterType="String" resultType="board">
		SELECT * FROM post WHERE postId = #{postId} AND postDel = 'N'  
	</select>
	
	
	<select id="fileList" parameterType="String" resultType="file">
		SELECT imgId, oriFileName, newFileName, postId 
			FROM image WHERE postId = #{postId} ORDER BY imgId
	</select>
	
	<update id="fbupdate" parameterType="hashmap">
	  UPDATE post SET title = #{title}, postContent = #{postContent},nickName=#{nickName} 
	  WHERE postId = #{postId}
	</update>
	
	
	
	
	
	<delete id="fbdel" parameterType="String">
	UPDATE post SET postDel = 'Y' WHERE postId = #{postId}
    </delete>
	
	<insert id="fbcmtwrite" parameterType="board">
	INSERT INTO comments(cmtId, cmtContent,postId,cmtField) VALUES(comment_seq.NEXTVAL,#{cmtContent},#{postId},'Fbpost')
	
	</insert>
	
	<update id="fbfileupdate">
	  UPDATE image SET oriFileName = #{oriFileName}, newFileName = #{newFileName}
	  WHERE postId = #{postId}
	</update>
	
	
	
    <select id="list" resultType="board">
		SELECT cmtId, cmtContent, isDel
			FROM
		(SELECT 
		    ROW_NUMBER() OVER (ORDER BY cmtId DESC)rnum,
		    cmtId, cmtContent , isDel
		FROM comments) WHERE rnum BETWEEN #{param1} AND #{param2} AND isDel = 'N'
	</select>

	<select id="allCount" resultType="int">
		SELECT COUNT(cmtId) FROM comments
	</select>
   
    
	
</mapper>
